.data-tab {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;

  .data-info {
    margin-right: 30px;
    margin-bottom: 20px;
    font-weight: 600;

    &:last-child {
      margin-right: 0;
    }

    &__title {
      font-size: 18px;
    }

    &__number {
      font-size: 24px;
    }

    &--deaths {
      color: #718096;
    }

    &--recovered {
      color: #38a169;
    }

    &--cases {
      color: #e53e3e;
    }
  }
}
